<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
          <!-- Favicons -->
  <link href="{% static 'assets/img/aindriya.png' %}" rel="icon">
  <link href="{% static 'assets/img/aindriya.png' %}" rel="aindriya-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'assets/css/forgot_password.css' %}">
</head>
<body class="gradient-color">
    <div class="container">
        <div class="form-container">
            <div class="login-form">
                <div class="logo">
                    <span style="display: inline-block;">
                        <img src="{% static 'assets/img/aindriya.png' %}" alt="" srcset="">
                    </span>
                    <span style="display: inline-block; text-align:left"><b>A</b>indriya<br><b>M</b>anagement<br><b>S</b>oftware</span>
                </div>
                
                <h2 >Reset Link</h2>
                <form action="{% url 'forgot-password' %}" method="post">
                    <div>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    
                    {% csrf_token %}
                    <input type="text" name="email" placeholder="Your Email" required>
                    <button type="submit" class="log-style gradient-color">Send Link</button>
                </form>
            </div>
        </div>
        <div class="image-container">
            <img src="{% static 'assets/img/Frame.png' %}" alt="" srcset="" style="width: 200%; height: auto; max-width: 500px;">
        </div>
        
    </div>

</body>
</html>
