<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'assets/css/reset_password.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body class="gradient-color">
    <div class="container">
        <div class="form-container">
            <div class="login-form">
                <div class="logo">
                    <span style="display: inline-block;">
                        <img src="{% static 'assets/img/aindriya.png' %}" alt="" srcset="">
                    </span>
                    <span style="display: inline-block; text-align:left"><b>A</b>indriya<br><b>M</b>anagement<br><b>S</b>oftware</span>
                </div>
                
                <h2 >Password Reset</h2>
                <form action="#" method="post">
                    <div>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% csrf_token %}
                    <input type="password" name="password" placeholder="New Password" required>
                    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                    <input type="hidden" name="admin_id" value="{{ user_id }}">
                    <!-- Add a hidden field for the token -->
            
                    <button type="submit" class="log-style gradient-color">Reset Password</button>
                </form>
                
            </div>
        </div>
        <div class="image-container">
            <img src="{% static 'assets/img/Frame.png' %}" alt="" srcset="" style="width: 200%; height: auto; max-width: 500px;">
        </div>
        
    </div>
   
</body>
</html>
